<!doctype html>
<html lang="en">
<head>
    <title>PLS QA</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--jquery cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!--bootstrap cdn-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!--vuejs cdn-->
    <script src="https://unpkg.com/vue@2.1.7/dist/vue.js"></script>
</head>
<body style="padding-top: 70px">

<div class="container">
    <div id="app">

        <tabs>
            <tab name="All Qs" :selected="true">
                <h1>All Qs</h1>
                <ul>
                    <question v-for="q in all_questions" :q="q" :id="q.id" :text="q.text" :title="q.title"
                              :date="q.date" :answered="q.answered" :user_id="q.user" :loggedin="logged_in"
                              @removedquestion="getAllQs"></question>
                </ul>
            </tab>
            <tab name="Unanswerd Qs">
                <h1>Unanswerd Qs</h1>
                <ul>
                    <question v-for="q in unanswered_questions" :q="q" :id="q.id" :text="q.text" :title="q.title"
                              :date="q.date" :answered="q.answered" :user_id="q.user" :loggedin="logged_in"
                              @removedquestion="getAllQs"></question>
                </ul>
            </tab>
            <tab name="Unsolved Qs">
                <h1>Unsolved Qs</h1>
                <ul>
                    <question v-for="q in unsolved_questions" :q="q" :id="q.id" :text="q.text" :title="q.title"
                              :date="q.date" :answered="q.answered" :user_id="q.user" :loggedin="logged_in"
                              @removedquestion="getAllQs"></question>
                </ul>
            </tab>
            <tab name="Qs i answered" :need_auth="true" v-if="logged_in">
                <h1>Qs i answered</h1>
                <ul>
                    <question v-for="q in qs_i_answered" :q="q" :id="q.id" :text="q.text" :title="q.title"
                              :date="q.date" :answered="q.answered" :user_id="q.user" :loggedin="logged_in"
                              @removedquestion="getAllQs"></question>
                </ul>
            </tab>
            <tab name="My Qs" :need_auth="true" v-if="logged_in">
                <h1>My Qs</h1>
                <ul>
                    <question v-for="q in my_qs" :q="q" :id="q.id" :text="q.text" :title="q.title" :date="q.date"
                              :answered="q.answered" :user_id="q.user" :loggedin="logged_in"
                              @removedquestion="getAllQs"></question>
                </ul>
            </tab>
            <tab name="Logout" :need_auth="true" v-if="logged_in">Logout
            </tab>
        </tabs>

        <!-- Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" v-show="loginfail">Alle Felder müssen befüllt
                            sein!
                        </div>
                        <input type="text" v-model="userDTO.userName" placeholder="Nutzername"/>
                        <input type="password" v-model="userDTO.password" placeholder="Passwort"/>

                    </div>
                    <div class="modal-footer">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success" @click="login">Login</button>
                            <button type="submit" class="btn btn-primary" @click="register">Register</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="newQModal" tabindex="-1" role="dialog" aria-labelledby="newQModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">New Q</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" v-show="newtitlefail">Alle Felder müssen befüllt
                            sein!
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Q-Titel</div>
                            <div class="panel-body">
                                <input type="text" class="form-control" placeholder="Title" v-model="newQuestion.title"
                                       aria-describedby="sizing-addon1">
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" v-show="newtextfail">Alle Felder müssen befüllt
                            sein!
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Q-Text</div>
                            <div class="panel-body">
                                <textarea class="form-control" placeholder="Question" rows="10"
                                          v-model="newQuestion.text"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger" @click="discardQ">Discard Q</button>
                            <button type="button" class="btn btn-primary" @click="addQ">Ask Q</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bs-example-modal-lg" id="qModal" tabindex="-1" role="dialog" aria-labelledby="newQModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-8">
                                    <h2>{{currentQuestion.title}}</h2>
                                </div>

                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6>Gestellt am: </span></h6>

                                        </div>
                                        <div class="col-md-6">
                                            <h6>{{currentQuestion.date}}</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6> Solved: </h6>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"
                                                  v-show="currentQuestion.answered"></span>
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"
                                                  v-show="!currentQuestion.answered"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            {{currentQuestion.text}}
                        </div>
                    </div>
                    <div class="modal-body">
                        <answer v-for="a in currentQuestion.answers" :a="a" :id="a.id" :text="a.text"
                                  :date="a.date" :accepted="a.accepted" :user_id="a.userId"
                                  @removedquestion="getAllQs"></answer>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group" role="group" v-if="showQuestionControl(currentQuestion)">
                            <button  type="button" class="btn btn-danger"  @click="remove_question(currentQuestion)">DELETE Q</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        <div v-if="!showQuestionControl(currentQuestion)">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="x-template" id="template-tabs">

    <div id="applicationContainer">
        <div id="navBarContainer" class="navbar navbar-default navbar-fixed-top" style="padding-left: 70px">
            <ul class=" nav navbar-nav ">
                <li><a href="#" data-toggle="modal" data-target="#newQModal" v-if="logged_in">newQ</a></li>
                <li class="nav-link" :class="{ active: menuItem.isActive}" v-for="menuItem in navItemsArray"><a
                        :href="menuItem.href" @click="selectTabItem(menuItem)">{{ menuItem.name }}</a></li>
                <li><a href="#" data-toggle="modal" data-target="#loginModal" v-if="!logged_in">Login</a></li>

            </ul>


        </div>
        <div id="tabContentContainer">
            <slot></slot>
        </div>
    </div>
</script>

<script type="x-template" id="template-tab">
    <div id="individualTabContentContainer" v-if="isActive" class="jumbotron">
        <slot></slot>
    </div>
</script>

<template id="template-questions">
    <div class="panel panel-default" data-toggle="modal" data-target="#qModal" @click="showQuestion()" style="cursor: pointer">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">
                    <h2>{{q.title | truncate(15)}}</h2>
                    <h4>{{q.user}}</h4>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Gestellt am: </span></h6>

                        </div>
                        <div class="col-md-6">
                            <h6>{{q.date}}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h6> Solved: </h6>
                        </div>
                        <div class="col-md-6">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" v-show="q.answered"></span>
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" v-show="!q.answered"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel-body">
            {{q.text | truncate(50)}}
        </div>
    </div>
</template>

<template id="template-answer">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" v-show="a.accepted"></span>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <div v-if="showQuestionControlA">
                                <button  type="button" class="btn btn-success btn-block"  @click="accept_answer(a)">ACCEPT A</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div v-if="showAnswerDelete()">
                                <button  type="button" class="btn btn-danger btn-block"  @click="remove_answer(a)">DELETE A</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h6>Geantwortet am: </span></h6>
                        </div>
                        <div class="col-md-3">
                            <h6>{{a.date}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            {{a.text}}
        </div>
    </div>
</template>

<script>

    Vue.component('tabs', {
        template: '#template-tabs',

        data: function () {
            return {
                navItemsArray: [],
                logged_in: false
            }
        },
        mounted: function () {

            this.navItemsArray = this.$children

        },
        computed: {
            logged_in: function () {
                return this.$parent.logged_in
            },
            logout: function () {
                return this.$parent.logout()
            },
            newQuestion: function () {
                return this.$parent.newQuestion
            }
        },
        methods: {
            selectTabItem(passedMenuItemObject) {
                if (passedMenuItemObject.name == "Logout") {
                    app.logout();
                } else {
                    this.navItemsArray.forEach(navItem => {navItem.isActive = (passedMenuItemObject == navItem)
                })
                    ;

                }
            }

        }
    });

    Vue.component('tab', {
        template: '#template-tab',
        props: {
            need_auth: {default: false},
            name: {required: true},
            selected: {default: false}
        },
        data: function () {
            return {
                isActive: false,
                needAuth: true
            }
        },
        computed: {
            href: function () {
                return '#' + this.name.toLowerCase().replace(/ /g, '-')
            }
        },
        mounted: function () {
            this.isActive = this.selected
        }
    });


    Vue.filter('uppercase', function (input) {
        return input.toUpperCase();
    });

    Vue.filter('truncate', function (string, value) {
        if (string.length < value) {
            return string
        } else {
            return string.substring(0, value) + '...';
        }
    });


    Vue.component('question', {
        template: '#template-questions',
        props: {
            q: '',
            id: {default: -1},
            answered: {default: false},
            date: {required: true},
            text: {required: true},
            title: {required: true},
            user_id: {required: true},
            loggedin: {default: false}

        },
        data: function () {
            return {
                isActive: false,
                needAuth: true
            }
        },
        methods: {

            showQuestion: function () {
                this.getAsToQ(this.id);
                app.currentQuestion.id = this.id;
                app.currentQuestion.title = this.title;
                app.currentQuestion.text = this.text;
                app.currentQuestion.user_id = this.user_id;
                app.currentQuestion.answered = this.answered;
            },
            getAsToQ: function () {
                $.getJSON('http://localhost:8080/questions/' + this.id + '/answers', function (res) {
                    app.currentQuestion.answers = res;
                });
            }
        }
    });

    Vue.component('answer', {
        template: '#template-answer',
        props: {
            a: '',
            id: {default: -1},
            accepted: {default: false},
            date: {required: true},
            text: {required: true},
            user_id: {required: true},

        },
        methods: {
            showAnswerDelete: function () {
                return (this.user_id == app.userDTO.id) && app.logged_in
            },
            remove_answer: function (answer) {
                /*$.ajax({
                 url: 'http://localhost:8080/todos/' + todo.pid,
                 type: 'DELETE',
                 xhrFields: {withCredentials: true},
                 success: function () {
                 this.$emit('removedquestion');
                 }.bind(this)
                 });*/
                alert("remove answer with ID"+answer.id)
            },
            accept_answer: function (answer) {
                /*$.ajax({
                 url: 'http://localhost:8080/todos/' + todo.pid,
                 type: 'DELETE',
                 xhrFields: {withCredentials: true},
                 success: function () {
                 this.$emit('removedquestion');
                 }.bind(this)
                 });*/
                alert("accept answer with ID"+answer.id)
            },
            showQuestionControlA: function () {
                return (question.user_id == this.userDTO.id) && this.logged_in
            }
        }
    });

    var app = new Vue({
        el: '#app',
        data: {
            all_questions: [],
            unanswered_questions: [],
            unsolved_questions: [],
            qs_i_answered: [],
            newQuestion: {
                title: '',
                text: ''
            },
            newAnswer: {
                title: '',
                text: ''
            },
            currentQuestion: {
                id: '',
                title: '',
                text: '',
                answered:'',
                answers: [],
                user_id: ''
            },
            userDTO: {
                id: '1',
                userName: '',
                password: ''
            },

            loginfail: false,
            newtitlefail: false,
            newtextfail: false,
            registerfail: false,
            logged_in: false,
        },
        computed: {
            my_qs: function () {
                return this.all_questions.filter(function (q) {
                    return q.user == app.userDTO.id
                })
            }
        },
        created: function () {
            this.getQs();
            /*$.ajax({
             url:'http://localhost:8080/questions/all',
             type:'DELETE',
             xhrFields:{withCredentials:true},
             complete:function(xhr){
             if(xhr.status !== 401) {
             app.logged_in = true;
             }
             }
             });*/
        },
        methods: {
            login: function () {
                if (this.userDTO.userName != "" && this.userDTO.password != "") {
                    $.ajax({
                        url: 'http://localhost:8080/questions/all',
                        type: 'HEAD',
                        xhrFields: {withCredentials: true},
                        headers: {
                            "Authorization": "Basic " + btoa(this.userDTO.userName+ ":" +this.userDTO.password)
                        },
                        success: function () {
                            this.logged_in = true;
                            this.loginfail = false;
                            $('#loginModal').modal('toggle');
                        }.bind(this)
                    });
                } else {
                    this.loginfail = true;
                }
            },
            register: function () {
                if (this.userDTO.userName != "" && this.userDTO.password != "") {
                    $.ajax({
                        url: 'http://localhost:8080/registration',
                        type: 'POST',
                        xhrFields: {withCredentials: true},
                        data: JSON.stringify(this.userDTO),
                        contentType: 'application/json;charset=UTF-8',
                        success: function () {
                            this.logged_in = true;
                            this.loginfail = false;

                            $('#loginModal').modal('toggle');
                        }.bind(this)
                    });

                } else {
                    this.loginfail = true;
                }
            },
            logout: function () {

                this.logged_in = false;
            },
            discardQ: function () {
                this.newQuestion.text = '';
                this.newQuestion.title = '';
            },

            addQ: function () {
                if (this.newQuestion.title != "" && this.newQuestion.text != "") {
                    alert("Title: " + this.newQuestion.title
                        + "\nText: " + this.newQuestion.text
                        + "\nUserID: " + this.userDTO.id)
                    /*$.ajax({
                     url: 'http://localhost:8080/todos',
                     type: 'PUT',
                     xhrFields: {withCredentials: true},
                     data: JSON.stringify({content: this.newTodo}),
                     contentType: 'application/json',
                     success: function () {
                     app.newTodo = '';
                     app.getTodos();
                     $('#loginModal').modal('toggle');
                     }
                     });*/
                    $('#newQModal').modal('toggle');
                    this.newtitlefail = false;
                    this.newtextfail = false;
                    this.discardQ();
                } else {
                    if (this.newQuestion.title == "") {
                        this.newtitlefail = true;
                    }
                    if (this.newQuestion.text == "") {
                        this.newtextfail = true;
                    }
                }
            },
            getQs: function () {
                this.getAllQs();
                this.getUnansweredQs();
                this.getUnsolvedQs();
                this.getQsIAnswered();

            },
            getAllQs: function () {
                $.getJSON('http://localhost:8080/questions/all', function (res) {
                    app.all_questions = res;
                });
            },
            getUnansweredQs: function () {
                $.getJSON('http://localhost:8080/questions/unanswered', function (res) {
                    app.unanswered_questions = res;
                });
            },
            getQsIAnswered: function () {
                $.getJSON('http://localhost:8080/user/' + this.userDTO.id + '/answeredQuestions', function (res) {
                    app.qs_i_answered = res;
                });
            },
            getUnsolvedQs: function () {
                $.getJSON('http://localhost:8080/questions/unsolved', function (res) {
                    app.unsolved_questions = res;
                });
            },
            showQuestionControl: function (question) {
                return (question.user_id == this.userDTO.id) && this.logged_in
            },
            remove_question: function (question) {
                /*$.ajax({
                 url: 'http://localhost:8080/todos/' + todo.pid,
                 type: 'DELETE',
                 xhrFields: {withCredentials: true},
                 success: function () {
                 this.$emit('removedquestion');
                 }.bind(this)
                 });*/
                alert("remove question with ID"+question.id)
            }

        }
    });
</script>
</body>
</html>

