<!doctype html>
<html lang="en">
<head>
    <title>PLS QA</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--jquery cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!--bootstrap cdn-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!--vuejs cdn-->
    <script src="https://unpkg.com/vue@2.1.7/dist/vue.js"></script>
</head>
<body>

<div class="container">
    <div id="app">

        <tabs>
            <tab name="All Qs" :selected="true">
                <h1>All Qs</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores blanditiis deleniti earum
                    eos fugit itaque magnam, magni minima non odio odit, placeat praesentium quis repudiandae sapiente
                    sit sunt ullam?</p>
            </tab>
            <tab name="Unanswerd Qs">
                <h1>Unanswerd Qs</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam distinctio dolores est magni
                    nemo, pariatur placeat tempora voluptatibus? Ab aut commodi excepturi quos reprehenderit?
                    Accusantium aliquam eligendi excepturi rem?</p>
            </tab>
            <tab name="Unsolved Qs">
                <h1>Unsolved Qs</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dignissimos exercitationem
                    expedita fuga harum, in iusto maxime neque pariatur quod saepe tempore voluptas. Molestiae neque
                    porro quasi sed temporibus voluptas.</p>
            </tab>
            <tab name="Qs i answered" :need_auth="true" v-if="logged_in">
                <h1>Qs i answered</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea fuga iste iure maiores nam natus ullam
                    veritatis. Consectetur debitis doloremque ducimus iste non nulla, odit provident quis, ratione
                    repellendus velit.</p>
            </tab>
            <tab name="My Qs" :need_auth="true" v-if="logged_in">
                <h1>My Qs</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, illo, quaerat. Doloremque laborum
                    libero quia! Dignissimos inventore ipsam, labore laudantium minima minus necessitatibus nostrum,
                    pariatur porro provident, quas vitae voluptate?</p>
            </tab>
            <tab name="Logout" :need_auth="true" v-if="logged_in" >Logout
            </tab>
        </tabs>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" v-show="loginfail">Alle Felder müssen befüllt sein!</div>
                        <input type="text" v-model="user" placeholder="Nutzername"/>
                        <input type="password" v-model="pwd" placeholder="Passwort"/>

                    </div>
                    <div class="modal-footer">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success" @click="login" >Login</button>
                            <button type="submit" class="btn btn-primary" @click="register" >Register</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="x-template" id="template-tabs">

    <div id="applicationContainer">
        <div id="navBarContainer" class="navbar navbar-default">
            <ul class=" nav navbar-nav">
                <li class="nav-link" :class="{ active: menuItem.isActive}" v-for="menuItem in navItemsArray"><a
                        :href="menuItem.href" @click="selectTabItem(menuItem)">{{ menuItem.name }}</a></li>
                <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
            </ul>



        </div>

        <div id="tabContentContainer">
            <slot></slot>
        </div>
    </div>
</script>

<script type="x-template" id="template-tab">
    <div id="individualTabContentContainer" v-if="isActive" class="jumbotron">
        <slot></slot>
    </div>
</script>



<script>
    Vue.component('tabs', {
        template: '#template-tabs',

        data:function() {
            return {
                navItemsArray: []
            }
        },
        mounted:function() {

            this.navItemsArray = this.$children
        },
        methods: {
            selectTabItem(passedMenuItemObject) {
                /*
                 $('#myModal').modal({ show: false})*/
                if(passedMenuItemObject.name == "Logout"){
                    app.logout();
                /*} else if(passedMenuItemObject.name == "Login"){

                    $('#myModal').modal('show');*/
                } else{
                    this.navItemsArray.forEach(navItem => {navItem.isActive = (passedMenuItemObject == navItem)});

                }
            }

        }
    });

    Vue.component('tab', {
        template: '#template-tab',
        props: {
            need_auth: {default: false},
            name: {required: true},
            selected: {default: false}
        },
        data: function () {
            return {
                isActive: false,
                needAuth: true
            }
        },
        computed: {
            href:function() {
                return '#' + this.name.toLowerCase().replace(/ /g, '-')
            }
        },
        mounted:function() {
            this.isActive = this.selected
        }
    });

    Vue.filter('uppercase', function(input){
        return input.toUpperCase();
    });


    Vue.component('todo',{
        props:['to','loggedin'],
        template:'#tpl-todo',
        methods:{
            removeTodo:function(todo){
                $.ajax({
                    url:'http://localhost:8080/todos/' + todo.pid,
                    type:'DELETE',
                    xhrFields:{withCredentials:true},
                    success:function(){
                        this.$emit('removedtodo');
                    }.bind(this)
                });
            }
        }
    });
    var app = new Vue({
        el : '#app',
        data:{
            questions:[],
            newTodo:'',
            user:'',
            pwd:'',
            loginfail: false,
            registerfail: false,
            logged_in:false,
            logginname:'TESTuser'
        },
        created:function(){
            this.getAllQs();
            /*$.ajax({
                url:'http://localhost:8080/questions/all',
                type:'DELETE',
                xhrFields:{withCredentials:true},
                complete:function(xhr){
                    if(xhr.status !== 401) {
                        app.logged_in = true;
                    }
                }
            });*/
        },
        methods:{
            login:function(){
                if (this.user != "" && this.pwd != "") {
                    $.ajax({
                        url: 'http://localhost:8080/',
                        type: 'HEAD',
                        xhrFields: {withCredentials: true},
                        headers: {
                            "Authorization": "Basic " + btoa(this.user + ":" + this.pwd)
                        },
                        success: function () {
                            this.logged_in = true;
                            this.loginfail = false;
                            $('#myModal').modal('toggle');
                        }.bind(this)
                    });
                } else {
                    this.loginfail = true;
                }
            },
            register:function(){
                if (this.user != "" && this.pwd != "") {
                    $.ajax({
                        url: 'http://localhost:8080/registration',
                        type: 'POST',
                        xhrFields: {withCredentials: true},
                        body: {
                            "Authorization": "Basic " + btoa(this.user + ":" + this.pwd)
                        },
                        success: function () {
                            this.logged_in = true;
                            this.loginfail = false;
                            $('#myModal').modal('toggle');
                        }.bind(this)
                    });

                } else {
                    this.loginfail = true;
                }
            },
            logout:function(){

                this.logged_in = false;
            },

            addTodo:function(){
                $.ajax({
                    url:'http://localhost:8080/todos',
                    type:'PUT',
                    xhrFields:{withCredentials:true},
                    data:JSON.stringify({content:this.newTodo}),
                    contentType:'application/json',
                    success:function(){
                        app.newTodo = '';
                        app.getTodos();
                    }
                });
            },
            getAllQs:function(){
                $.getJSON('http://localhost:8080/questions/all', function(res){
                    app.questions = res;
                });
            }
        }
    });
</script>
</body>
</html>